.item-image, img {
    max-width: 100%;
    height: auto;
}
img {
    width:400px;
}

.product {
    max-width: 500px;
}
.item {
    display: flex;
    flex-direction: column;
}

.item-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}