.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Asettaa välimatkan navigointipainikkeiden ja tuote-esittelyn välille */
    margin-top: 20px;
    margin-bottom: 20px;
  }