
a {
  text-decoration: none;
  color: inherit;
}
.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  width: auto;
  overflow: hidden;
}
.content {
  overflow: auto;
  display: grid;
  align-content: center;
  margin: 0 auto;
}
