
html, body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

